<div class='col-xs-6 col-sm-6 col-md-4'>
  <div class='thumbnail'>
    <img class='img-responsive' src={{product.imageUrl}}>
    <div class='caption'>
      <h5>{{product.name}}</h5>
      <p>Color: {{product.description}}</p>
      <p>Category: {{product.category}}</p>
      <p>Price: £{{product.price}}</p>
      <p>Stock: {{product.quantityInStock}}</p>
      {{#if noStock}}
        <center><button class='btn btn-primary disabled'>Out of stock</button></center>
      {{else}}
        <center><button class='btn btn-primary' {{action 'addToCart' product}}>Add to cart</button></center>
      {{/if}}
    </div>
  </div>
</div>
